header {
    position: relative;
    width: 100%;
}

.menu-btn {
    color: #00f2ff;
    display: none;
    font-size: 1.7rem;
    cursor: pointer;
    padding: 10px;
    z-index: 1000;
}

@media screen and (max-width: 320px) {
    .menu-btn {
        display: block;
    }

    .nav {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #fff;
    }

    .nav ul {
        flex-direction: column;
        width: 100%;
        padding: 0;
        margin: 0;
        list-style: none;
    }

    .nav li {
        width: 100%;
    }

    .nav a {
        display: block;
        padding: 10px;
        text-decoration: none;
        color: #000;
        text-align: center;
    }

    .nav.open {
        display: flex;
    }

    .submenu {
        display: none;
    }

    .nav li:hover .submenu {
        display: block;
    }

    .submenu li {
        background-color: #f1f1f1;
    }

    .submenu a {
        padding: 8px 16px;
        text-align: left;
    }
}


.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


@media screen and (max-width: 450px) {
    .menu-btn {
        display: block;
    }

    .nav {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: transparent;
    }

    .nav ul {
        flex-direction: column;
        width: 100%;
        padding: 0;
        margin: 0;
        list-style: none;
    }

    .nav li {
        width: 100%;
    }

    .nav a {
        display: block;
        padding: 10px;
        text-decoration: none;
        color: #ffffff;
        text-align: center;
    }

    .nav.open {
        display: flex;
    }

    .submenu {
        display: none;
    }

    .nav li:hover .submenu {
        display: block;
    }

    .submenu li {
        background-color: #f1f1f1;
    }

    .submenu a {
        padding: 8px 16px;
        text-align: left;
    }
}


.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}