body {
    text-align: center;
    background-color: black;
    font-size: 22px;
    color: rgb(255, 255, 255);
}

img {
    width: 60%;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

.text-overlay {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 0rem;

}

.text-overlay {
    -webkit-box-reflect: below 0px linear-gradient(to bottom, rgba(0, 0, 0, 0.051), rgba(0, 0, 0, 0.4));
}

body a {
    color: transparent;
}


#social-links {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 0;
}

.sm_icons {
    width: 2rem;
    height: auto;
    margin: 1rem;
    padding-top: 0rem;

}

.sm_icons {
    -webkit-box-reflect: below 0px linear-gradient(to bottom, rgba(0, 0, 0, 0.225), rgba(0, 0, 0, 0.565));
}



#text {
    font-size: 22px;
    text-align: center;

}


@media (max-width: 768px) {
    body {
        font-size: 18px;
    }

    .text-overlay img {
        width: 100%;
    }

    .sm_icons {
        width: 1.5rem;
        margin: .5rem;

    }

    #social-links {
        #social-links {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.2rem;
        }

    }
}