@font-face {
    font-family: 'Mokoto';
    src: url(/fonts/mokoto-ttf/mokoto-mokoto-regular-400.ttf);
}

html {
    scroll-behavior: smooth;
}

.slide-in-left,
.slide-in-right {
    opacity: 0;
    transform: translateX(100px);
    transition: opacity 0.9s ease-out, transform 0.9s ease-out;
}

.slide-in-left {
    transform: translateX(-100px);
}

.visible {
    opacity: 1;
    transform: translateX(0);
}






body {
    font-family: monospace;
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    margin: 20px 20px;
}

h2 {
    font-family: 'Mokoto', monospace;
    font-size: 1.7rem;
}

.main {
    padding-left: 20px;
    padding-right: 20px;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 10px;
}

.glow {
    font-family: 'Mokoto', monospace;
    font-size: 2.3rem;
    color: #b4dbf3;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;

}

.half-line {
    border: 0;
    height: 3px;
    background-color: #333;
    background: linear-gradient(to right, #5fcfff, #ca7bfe);
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}

@keyframes glow {
    from {
        text-shadow: 0 0 10px #2e89d8, 0 0 20px #00b7ff, 0 0 30px #53c6ed, 0 0 40px #2f86e2, 0 0 50px;
    }

    to {
        text-shadow: 0 0 20px #000000, 0 0 30px #000000, 0 0 40px #dd00ff, 0 0 50px #9500ff, 0 0 60px;
    }
}

pre {
    font-size: 1.25rem;
    text-align: center;
    white-space: normal;
}

/*-- float pics left --*/
.pre-pic1 img {
    float: left;
    max-width: 9.375rem;
    margin-right: 1rem;
}

/*-- float pics right --*/
.pre-pic2 img {
    float: right;
    max-width: 9.375rem;
    margin-left: 1.25rem;
    margin-bottom: 1.25rem;

}

.pre-pic3 img {
    max-width: 12rem;
    box-shadow: 0 0 20px 10px #980909cc;


}


strong {
    font-family: 'Mokoto', monospace;
}

i {
    font-family: monospace;

}

.biffy,
.scott,
.mur,
.laura,
.vukovi,
.freak {
    text-decoration: none;
    color: rgb(216, 5, 205);
    transition: color 0.3s ease;
}


.biffy:hover,
.scott:hover,
.mur:hover,
.laura:hover,
.vukovi:hover,
.freak:hover {
    color: rgb(5, 199, 243);

}

.AG {
    font-size: 1rem;
    text-decoration: none;
    color: rgb(216, 5, 205);
    transition: color 0.3s ease;
}

.AG:hover {
    color: rgb(5, 199, 243);
}


p {
    font-family: monospace;
    font-size: 1.5rem;
    text-align: center;
}

div {
    display: flex;
    align-items: center;
    justify-items: center;
}

.hero {
    width: 100%;
    position: relative;
}

.hero-image {
    width: 70%;
    height: auto;
}

header {
    position: relative;
    width: 100%;
}

.menu-btn {
    color: #00f2ff;
    display: none;
    font-size: 1.7rem;
    cursor: pointer;
    padding: 10px;
    z-index: 1000;
}

.container {
    display: grid;
    gap: .125rem;
    grid-template-columns:
        repeat(auto-fit, minmax(15rem, 1fr));

}

.image-wrapper {
    font-family: 'Mokoto', monospace;
    position: relative;
    margin: 4px;
    overflow: hidden;
}

.image-wrapper img {
    display: block;
    width: 20.3rem;
    height: auto;
    transition: transform 0.3s, box-shadow 0.3s
}

.image-wrapper .text-overlay {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.5rem;
    text-align: center;
    text-shadow: 3px 3px 6px rgb(5, 243, 247);
}

ul {
    font-family: 'Mokoto', monospace;
    text-align: center;
    font-size: 1.5rem;

    li {
        display: inline-block;
        margin-right: 15px;
        transition: all 0.4s ease-in-out;

        &:hover {
            .submenu {
                height: 85px;
            }

            a {
                color: #00f2ff;

                &::before {
                    visibility: visible;
                    transform: scale(1, 1);
                }
            }
        }

        .submenu {
            overflow: hidden;
            position: absolute;
            left: 0;
            width: 100%;
            background-color: transparent;
            height: 0;
            line-height: 40px;
            box-sizing: border-box;
            transition: height 0.3s ease-in-out;
            transition-delay: 0s;

            a {
                color: #fff;
                margin-top: 10px;
                font-size: 18px;

                &:hover {
                    color: #fff;
                    text-decoration: none !important;
                }
            }
        }

        a {
            color: #ffffff;
            display: block;
            padding: 0 7px 0 7px;
            margin: 0 0 10px;
            text-decoration: none !important;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                width: 100%;
                height: 3px;
                bottom: -10px;
                left: 0px;
                background-color: transparent;
                transition: all 0.2s ease-in-out;
                transform: scale(0, 0);
                visibility: hidden;
            }
        }
    }
}


.tourdates {
    display: inline-block !important;
    position: relative;
    padding: 10px 20px !important;
    background: linear-gradient(45deg, #0dbcf6, #990aff) !important;
    color: #d8d8d8 !important;
    border-radius: 20px !important;
    cursor: pointer !important;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s !important;
    text-decoration: none !important;
    font-family: monospace;
    font-size: 2.1rem;
    box-shadow: 0 0 15px rgba(107, 233, 255, 0.736), 0 0 20px rgb(88, 243, 235);
    z-index: 2;
}


.tourdates:hover {
    background: linear-gradient(45deg #d27eff, #34e1ff) !important;
    box-shadow: 0 0 20px rgba(246, 59, 230, 0.8), 0 0 30px rgba(6, 182, 212, 0.8);
}

.tourdates:active {
    transform: scale(0.95) !important;
    box-shadow: 0 0 15px rgba(246, 59, 190, 0.5), 0 0 20px rgba(212, 6, 202, 0.5);
}


.button-container {
    margin-bottom: 1rem;
    gap: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;

}

#social-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.2;
}

.sm_icons {
    width: 30px;
    height: auto;
    display: inline-block;
    margin: 10px;
}

.item1 {
    background: linear-gradient(to top, #922cf8, #6619eb);
    z-index: 1;
    height: 50vh;
    width: 30rem;
    margin: 0 auto;
}

.bio {
    display: flex;
    align-items: center;
    justify-self: center;
    width: 20rem;
    z-index: 1;
}

.mail-list {
    width: 20rem;
}

#mailing-list {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-radius: 20px;
    color: #ffffff;
}

#subscribe-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    z-index: 1;
}

#subscribe-form h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: -3rem;
}

#subscribe-form h3 {
    font-family: monospace;
    letter-spacing: 0.2rem;
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: -.5rem;
}


#subscribe-form p {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1rem;
}

#subscribe-form label {
    margin-bottom: 5px;
    font-size: 1rem;
}

#subscribe-form input {
    width: 50%;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.submit {

    display: inline-block !important;
    position: relative;
    padding: 4px 8px !important;
    background: linear-gradient(45deg, #838484, #ffffff) !important;
    color: #000000 !important;
    border-radius: 20px !important;
    cursor: pointer !important;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s !important;
    text-decoration: none !important;
    font-family: monospace;
    font-size: 1.2rem;
    margin: 0 auto;
    margin-bottom: 5rem;
    box-shadow: 0 0 15px rgba(107, 233, 255, 0.736), 0 0 20px rgb(88, 243, 235);
}


.submit:hover {
    background: linear-gradient(45deg #d27eff, #34e1ff) !important;
    box-shadow: 0 0 20px rgba(246, 59, 230, 0.8), 0 0 30px rgba(6, 182, 212, 0.8);
}

.submit:active {
    transform: scale(0.95) !important;
    box-shadow: 0 0 15px rgba(246, 59, 190, 0.5), 0 0 20px rgba(212, 6, 202, 0.5);
}


@media screen and (max-width: 450px) {

    .item1 {
        width: auto;
    }

    .bio {
        width: 15rem;
    }


    #subscribe-form h2 {
        padding-top: 3rem;
        font-size: 1.5rem;
    }

    #subscribe-form h3 {
        font-size: 1rem;
        font-family: monospace;
        letter-spacing: 0.2rem;
        text-align: center;
        margin-top: 2rem;


    }

    .mail-list {
        width: 15rem;
    }

    p {
        font-family: monospace;
        font-size: 1.3rem;
        text-align: center;
        padding: 0;
    }

    strong,
    h2 i {
        font-size: 1.5rem;
        text-align: center;
        font-family: monospace;
    }

    .menu-btn {
        display: block;
    }

    .nav {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: transparent;
    }

    .nav ul {
        flex-direction: column;
        font-size: 1rem;
        width: 100%;
        padding: 0;
        margin: 0;
        list-style: none;
    }

    .nav li {
        width: 100%;
    }

    .nav a {
        display: block;
        padding: 10px;
        text-decoration: none;
        color: #ffffff;
        text-align: center;
    }

    .nav.open {
        display: flex;
    }

    .submenu {
        display: none;
    }

    .nav li:hover .submenu {
        display: block;
    }

    .submenu li {
        background-color: transparent;
    }

    .submenu a {
        padding: 8px 16px;
        text-align: left;
    }

    .button-container {
        font-size: 0.5rem;
        margin-bottom: 0.5rem;
        margin-left: 0.5;
        border-radius: 1.5rem;
    }

    .tourdates {
        font-size: 1rem;
        padding: 10px 20px;
    }

    #social-links {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.3;
    }

    .sm_icons {
        width: 1.5rem;
        height: auto;
        display: inline-block;
        margin: 10px;
    }


    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}