body {
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    margin: 20px 20px;
}

.main {
    padding-left: 20px;
    padding-right: 20px;
}

.glow {
    font-size: 2.5em;
    color: #fff;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;

}

.glow2 {
    font-size: 2em;
    color: #fff;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;

}

.half-line {
    border: 0;
    height: 3px;
    background-color: #333;
    background: linear-gradient(to right, #5fcfff, #ca7bfe);
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}

@keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ff00ff, 0 0 40px #ff00ff, 0 0 50px #ff00ff, 0 0 60px #ff00ff, 0 0 70px #ff00ff;
    }

    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #ff00ff, 0 0 40px #ff00ff, 0 0 50px #ff00ff, 0 0 60px #ff00ff, 0 0 70px #ff00ff, 0 0 80px #ff00ff;
    }
}

pre {
    font-size: 20px;
    text-align: center;
    text-wrap: wrap;
}

.pre-pic1 img {
    float: left;
    max-width: 150px;

}

.pre-pic2 img {
    float: right;
    max-width: 150px;
    padding-bottom: 20px;
    padding: 5px;
}

.AG {
    text-decoration: none;
    color: rgb(5, 199, 243);

}

.AG:hover {
    color: rgb(216, 5, 205);
}

.biffy {
    text-decoration: none;
    color: rgb(5, 199, 243);

}

.biffy:hover {
    color: rgb(216, 5, 205);
}

.scott {
    text-decoration: none;
    color: rgb(5, 199, 243);

}

.scott:hover {
    color: rgb(216, 5, 205);
}

.mur {
    text-decoration: none;
    color: rgb(5, 199, 243);

}

.mur:hover {
    color: rgb(216, 5, 205);
}

.about-me {
    text-decoration: none;
    color: rgb(5, 199, 243);

}

.about-me:hover {
    color: rgb(216, 5, 205);

}

p {
    font-size: 25px;
    text-align: center;
}

div {
    display: flex;
    align-items: center;
    justify-items: center;
}

.header {
    width: 100%;
    position: relative;
}

.header-image {
    width: 70%;
    height: auto;
}

.container {
    display: flex;
    flex-wrap: wrap;

}

.image-wrapper {
    position: relative;
    margin: 4px;
    overflow: hidden;
}

.image-wrapper img {
    display: block;
    width: 325px;
    height: auto;
    transition: transform 0.3s, box-shadow 0.3s
}

.image-wrapper:hover img {
    transform: scale(1.1);
    box-shadow: 00 0 10px rgba(189, 187, 187, 0.5);


}

.image-wrapper .text-overlay {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    text-shadow: 3px 3px 6px rgb(5, 243, 247);
}

ul {
    text-align: center;
    font-size: 30px;

    li {
        display: inline-block;
        margin-right: 15px;
        transition: all 0.4s ease-in-out;

        &:hover {
            .submenu {
                height: 85px;
            }

            a {
                color: #00f2ff;

                &::before {
                    visibility: visible;
                    transform: scale(1, 1);
                }
            }
        }

        .submenu {
            overflow: hidden;
            position: absolute;
            left: 0;
            width: 100%;
            background-color: transparent;
            height: 0;
            line-height: 40px;
            box-sizing: border-box;
            transition: height 0.3s ease-in-out;
            transition-delay: 0s;

            a {
                color: #fff;
                margin-top: 10px;
                font-size: 18px;

                &:hover {
                    color: #fff;
                    text-decoration: none !important;
                }
            }
        }

        a {
            color: #ffffff;
            display: block;
            padding: 0 7px 0 7px;
            margin: 0 0 10px;
            text-decoration: none !important;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                width: 100%;
                height: 3px;
                bottom: -10px;
                left: 0px;
                background-color: transparent;
                transition: all 0.2s ease-in-out;
                transform: scale(0, 0);
                visibility: hidden;
            }
        }
    }
}


.log-in {
    display: inline-block !important;
    position: relative;
    padding: 10px 20px !important;
    background: linear-gradient(45deg, #0dbcf6, #990aff) !important;
    color: #d8d8d8 !important;
    border-radius: 20px !important;
    cursor: pointer !important;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s !important;
    text-decoration: none !important;
    font-size: 35px;
    box-shadow: 0 0 15px rgba(107, 233, 255, 0.736), 0 0 20px rgb(88, 243, 235);
    /* Initial glow */
}

.log-in:hover {
    background: linear-gradient(45deg #d27eff, #34e1ff) !important;
    /* Same gradient for hover */
    box-shadow: 0 0 20px rgba(246, 59, 230, 0.8), 0 0 30px rgba(6, 182, 212, 0.8);
    /* Enhanced glow on hover */
}

.log-in:active {
    transform: scale(0.95) !important;
    box-shadow: 0 0 15px rgba(246, 59, 190, 0.5), 0 0 20px rgba(212, 6, 202, 0.5);
    /* Reset glow on active */
}

.button-container {
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

}

#social-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.sm_icons {
    width: 30px;
    height: auto;
    display: inline-block;
    margin: 10px;
}

footer {
    padding: 0 20px;
}

@media screen and (max-width: 450px) {
    nav ul {
        display: none;
        /* Hide the regular navigation */
    }

    /* Style for the hamburger menu icon */
    .menu-icon {
        display: block;
        text-align: center;
        cursor: pointer;
        padding: 10px;
        color: #ffffff;
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}