@font-face {
    font-family: 'Mokoto';
    src: url(/fonts/mokoto-ttf/mokoto-mokoto-regular-400.ttf);
    font-weight: lighter;
    font-style: normal;
}



body {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 0;
    padding-top: 0.5rem;


}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-img-cont {
    position: absolute;
    overflow: hidden;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-image: url("../img/lr6-edit.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}


.hero {
    width: 100%;
    position: relative;
    padding-bottom: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;

}

.logo-image {
    width: 70%;
    height: auto;
}

.bg-logo {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 2rem;
}

header {
    text-align: center;
    position: relative;
    width: 100%;
}

.menu-btn {
    color: #00f2ff;
    display: none;
    font-size: 1.7rem;
    cursor: pointer;
    padding: 10px;
    z-index: 1000;
}


/*-- buttons & social links FML--*/

.footer {
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.flex-container {
    display: flex;
    flex-direction: column;
    /* Stack items vertically */
    align-items: center;
    /* Center align items horizontally */
}

.button-container1 {
    margin-top: 19rem;
    display: flex;
    gap: 5rem;
}

.call-us,
.email-us {
    display: inline-block;
    position: relative;
    padding: 10px 20px;
    background: linear-gradient(45deg, #c4c7c8, #04acf4);
    color: #d8d8d8;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    text-decoration: none;
    font-family: monospace;
    font-size: 35px;
    box-shadow: 0 0 15px rgb(60, 149, 179), 0 0 20px rgb(78, 4, 115);
}

.call-us:hover,
.email-us:hover {
    background: linear-gradient(45deg #e6e6e6, #34e1ff);

    box-shadow: 0 0 20px rgb(18, 80, 215), 0 0 30px rgba(6, 182, 212, 0.8);

}

.call-us:active,
.email-us:active {
    transform: scale(0.95);
    box-shadow: 0 0 15px rgb(59, 159, 246), 0 0 20px rgba(212, 6, 202, 0.5);
}

.call-us a,
.email-us a {
    color: inherit;
    text-decoration: none;
}

.call-us a:hover,
.email-us a:hover {
    color: #494949;
    text-decoration: none;
}

nav {
    padding-top: 4.5rem;

}



ul {
    margin-top: 3rem;
    font-family: 'Mokoto', monospace;
    text-align: center;
    font-size: 1.7rem;

    li {
        display: inline-block;
        transition: all 0.4s ease-in-out;

        &:hover {
            .submenu {
                height: 3rem;
            }

            a {
                color: #00f2ff;

                &::before {
                    visibility: visible;
                    transform: scale(1, 1);
                }
            }
        }

        .submenu {
            overflow: hidden;
            position: absolute;
            left: 0;
            width: 100%;
            background-color: transparent;
            height: 0;
            line-height: 2rem;
            box-sizing: border-box;
            transition: height 0.3s ease-in-out;
            transition-delay: 0s;

            a {
                color: #fff;

                font-size: 1.3rem;

                &:hover {
                    color: #00f2ff;
                    text-decoration: none;
                }
            }
        }

        a {
            color: #ffffff;
            display: block;
            padding: 0 0.8rem 0 0.8rem;
            text-decoration: none;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                width: 100%;
                background-color: transparent;
                transition: all 0.2s ease-in-out;
                transform: scale(0, 0);
                visibility: hidden;
            }
        }
    }
}

/*---new navbar? ---*/
.half-line {
    border: 0;
    height: 3px;
    background-color: #333;
    background: linear-gradient(to right, #5fcfff, #ca7bfe);
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

#social-links {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 0;
}

.sm_icons {
    width: 2rem;
    height: auto;
    margin: 1rem;
}


@media screen and (max-width: 450px) {
    .flex-container {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    footer {
        text-align: center;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }



    .call-us,
    .email-us {
        font-size: 1rem;
        padding: 4px 8px;
        margin-left: 0rem;
    }

    .button-container1 {
        display: flex;
        margin-top: 2rem;

    }

    .sm_icons {
        width: 1.5rem;
        height: auto;
        margin: 0.3rem;
    }

    #social-links {
        display: flex;
        justify-content: center;
        margin-bottom: 18rem;
        gap: 0.7rem;

    }

    .menu-btn {
        margin-top: 1.5rem;
        display: block;
    }

    .nav {
        font-size: .5rem;
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: transparent;
    }

    .nav ul {
        font-size: 1.5rem;

        flex-direction: column;
        width: 100%;
        padding: 0;
        margin: 0;
        list-style: none;
    }

    .nav li {
        width: 100%;
    }

    .nav a {
        display: block;
        padding: 10px;
        text-decoration: none;
        color: #ffffff;
        text-align: center;
    }

    .nav.open {
        padding-top: 0;
        display: flex;
        color: white;
    }

    .submenu {
        display: none;
    }

    .nav li:hover .submenu {
        display: none;
    }

    .submenu li {
        background-color: transparent;
    }

    .submenu a {
        padding: 8px 16px;
        text-align: left;
        color: white;
    }
}