.orbitron-lorays {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

:root {
    --ff-primary: "Orbitron", sans-serif;
    --ff-secondary: "Orbitron", sans-serif;
    --ff-accent: "Orbitron", sans-serif
}

/* Box styling rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

h1,
h2,
h3,
h4 {
    font-family: "Orbitron", sans-serif;

}

/* Remove list styles on ul, ol elements */
ul [role="list"],
ol [role="list"] {
    list-style: none;
}

html:focus-within {
    scroll-behavior: smooth;
}

body {
    font-family: "Orbitron", sans-serif;
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

img,
picture {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font-family: "Orbitron", sans-serif;
}

header {
    text-align: center;
    position: relative;
    width: 100%;
}

.menu-btn {
    color: #00f2ff;
    display: none;
    font-size: 1.7rem;
    cursor: pointer;
    padding: 10px;
    z-index: 1000;
}

ul {
    font-family: "Orbitron", sans-serif;
    text-align: center;
    font-size: 1.7rem;
    padding-bottom: 1rem;

    li {
        display: inline-block;
        margin-right: 15px;
        transition: all 0.4s ease-in-out;
        position: relative;

        &:hover {
            .submenu {
                width: auto;
                height: auto;
            }

            a {
                color: #00f2ff;

                &::before {
                    visibility: visible;
                    transform: scale(1, 1);
                }
            }
        }

        .submenu {
            overflow: hidden;
            position: absolute;
            left: 0;
            top: 50%;
            white-space: nowrap;
            background-color: transparent;
            height: 0;
            transform: translateX(0%);
            line-height: 40px;
            box-sizing: border-box;
            transition: height 0.3s ease-in-out;
            transition-delay: 0s;

            a {
                color: #fff;
                margin-top: 10px;
                font-size: 1.3rem;

                &:hover {
                    color: #00f2ff;
                    text-decoration: none !important;
                }
            }
        }

        a {
            color: #ffffff;
            display: block;
            padding: 0 7px 0 7px;
            margin: 0 0 10px;
            text-decoration: none !important;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                width: 100%;
                height: 3px;
                bottom: -10px;
                left: 0px;
                background-color: transparent;
                transition: all 0.2s ease-in-out;
                transform: scale(0, 0);
                visibility: hidden;
            }
        }
    }
}


@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;

    }
}



*,
*::before,
*::after {
    animation-duration: 0.1ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
}


body {
    font-family: "Orbitron", sans-serif;
    font-size: 1rem;
    padding: 2rem 0;
    background-color: rgb(0, 0, 0);
}

nav {
    background-color: transparent;
    padding-left: 20px;
    padding-right: 20px;
}

nav ul {
    text-align: center;
    font-size: 30px;
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
    padding-bottom: 1.5rem;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
    transition: all 0.4 ease-in-out;
}

nav ul li a {
    color: #ffffff;
    display: block;
    padding: 10px 15px;
    text-decoration: none !important;
    position: relative;
    transition: color 0.2s ease-in-out;
}

nav ul li a:hover {
    color: #00f2ff;
}

nav ul li a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: -10px;
    left: 0;
    background-color: transparent;
    transition: all 0.2s ease-in-out, visibility 0.2 ease-in-out;
    transform: scaleX(0);
    visibility: hidden;
}

nav ul li:hover a::before {
    visibility: visible;
    transform: scaleX(1);
}


.container {
    max-width: 100rem;
    margin-inline: auto;
    padding-inline: 2rem;
}

.stacked {
    display: grid;
}

.stacked>* {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.product-grid {
    display: grid;
    gap: .125rem;
    grid-template-columns:
        repeat(auto-fit, minmax(15rem, 1fr));
}

.card {
    aspect-ratio: 1 / 1.5;
    /*border: 3px solid white;*/
}

.card__content {
    background: #0687c79b;
    border-radius: 0.9rem;
    color: #fff;
    align-self: end;
    margin: .5rem .5rem 2rem;
    padding: 0.5rem;
    box-shadow: 0 .25rem 1rem rgb(0 0 0 / .1);
}

.card__content:hover {
    transform: scale(1.05);
}

.card__title {
    font-family: "Orbitron", sans-serif;
    font-size: 1.2rem;
    line-height: 1.1;
}

a {
    color: white;
    text-decoration: none;
}

.card__price {
    font-size: 1.5rem;
}


.card__img {
    width: 100%;
    aspect-ratio: 1 / 1.25;
    object-fit: cover;
}

.special-alert {
    color: rgb(252, 7, 7);
    letter-spacing: 0.12rem;
}


.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 1.7rem;
}

#social-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 100%;
    padding: auto;
}

.sm_icons {
    width: 30px;
    height: auto;
    display: inline-block;
    margin: 10px;
}




@media (min-width: 60em) {
    .card__img {
        aspect-ratio: 1 / 1;
    }

    .card.featured {
        grid-row: span 2;
        grid-column: span 2;
    }

    .card.featured .card__img {
        aspect-ratio: 1 / 1.17
    }

    .card.featured .card__title {
        font-size: 1.75rem;
    }
}

@media screen and (max-width: 320px) {
    .menu-btn {
        display: block;
    }

    .nav {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: transparent;
    }

    .nav ul {
        flex-direction: column;
        width: 100%;
        padding: 0;
        margin: 0;
        list-style: none;
    }

    .nav li {
        width: 100%;
    }

    .nav a {
        display: block;
        padding: 10px;
        text-decoration: none;
        color: #000;
        text-align: center;
    }

    .nav.open {
        background-color: transparent;
        display: flex;
    }

    .submenu {
        display: none;
    }

    .nav li:hover .submenu {
        display: none;
    }

    .submenu li {
        background-color: transparent;
    }

    .submenu a {
        padding: 8px 16px;
        text-align: left;
    }

    .logo {
        padding: 0;
    }
}

@media screen and (max-width: 450px) {
    .menu-btn {
        display: block;
    }

    .nav {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: transparent;
    }

    .nav ul {
        flex-direction: column;
        font-size: 1rem;
        width: 100%;
        padding: 0;
        margin: 0;
        list-style: none;
    }

    .nav li {
        width: 100%;
    }

    .nav a {
        display: block;
        padding: 10px;
        text-decoration: none;
        color: #ffffff;
        text-align: center;
    }

    .nav.open {
        display: flex;
        color: white;
    }

    .submenu {
        display: none;
    }

    .nav li:hover .submenu {
        display: none;
    }

    .submenu li {
        background-color: transparent;
    }

    .submenu a {
        padding: 8px 16px;
        text-align: left;
        color: white;
    }

    .logo {
        padding: 0;
    }
}