body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #333;
}

header {
    text-align: center;
    position: relative;
    width: 100%;
}

.menu-btn {
    color: #00f2ff;
    display: none;
    font-size: 1.7rem;
    cursor: pointer;
    padding: 10px;
    z-index: 1000;
}

.bg-img-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    margin-bottom: 50px;
}

.bg-img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
    position: relative;
}

.tour-head {
    width: 65%;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;

}

.head-logo {
    width: 100%;
    height: auto;
    margin-bottom: -1rem;
}

.tourdate-heading {
    text-align: center;
    color: #fff;
    text-shadow:
        -1px -1px 0 #030303,
        1px -1px 0 #0a0a0a,
        -1px 1px 0 #000000,
        1px 1px 0 #070707;
    font-size: 2.5rem;
    margin-top: -2rem;

}

ul {
    background-color: #00000000;
    text-align: center;
    font-size: 1.75rem;

    li {
        background-color: #00000000;
        display: inline-block;
        margin-right: 15px;
        transition: all 0.4s ease-in-out;

        &:hover {
            .submenu {
                height: 85px;
            }

            a {
                color: #00f2ff;

                &::before {
                    visibility: visible;
                    transform: scale(1, 1);
                }
            }
        }

        .submenu {
            overflow: hidden;
            position: absolute;
            left: 0;
            width: 100%;
            background-color: transparent;
            height: 0;
            line-height: 3rem;
            box-sizing: border-box;
            transition: height 0.3s ease-in-out;
            transition-delay: 0s;

            a {
                color: #fff;
                margin-top: 10px;
                font-size: 18px;

                &:hover {
                    color: #00f2ff;
                    text-decoration: none !important;
                }
            }
        }

        a {
            color: #ffffff;
            display: block;
            padding: 0 7px 0 7px;
            margin: 0 0 10px;
            text-decoration: none !important;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                width: 100%;
                height: 3px;
                bottom: -10px;
                left: 0px;
                background-color: #00000000;
                transition: all 0.2s ease-in-out;
                transform: scale(0, 0);
                visibility: hidden;
            }
        }
    }
}

.bg-img-tour {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

.bg-img {
    max-width: 100%;
    max-height: 100%;
}

.content {
    position: relative;
    z-index: 1;
    padding: 2rem;
}

main {
    padding: 1rem;
}

.tour-dates {
    background-color: transparent;
    padding: 0rem;
    border-radius: 10px;
    margin: 0 auto;
    max-width: 800px;
}

.tour-dates h2 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #ffffff;
    text-shadow: 3px 3px 6px rgb(0, 0, 0);
}

.date {
    color: rgb(255, 255, 255);
    margin-bottom: 2rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.date h3 {
    margin: 0 0 0.5rem;
    color: #cdf4ff;
    text-shadow:
        -1px -1px 0 #030303,
        1px -1px 0 #0a0a0a,
        -1px 1px 0 #000000,
        1px 1px 0 #070707;
}

.date p {
    margin: 0 0 0.5rem;
}

.date a {
    display: block;
    margin: 0 auto;
    width: 100px;
    max-width: 200px;
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
    color: #ffffff;
    text-shadow: 2px 2px #000000;
    background-color: #84d4f1;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.date a:hover {
    background-color: #fd29eb;
}

#social-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding-bottom: 1rem;
}

.sm_icons {
    width: 2rem;
    height: auto;
    display: inline-block;
}


@media screen and (max-width:450px) {
    .menu-btn {
        display: block;
    }

    .nav {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: transparent;
    }

    .nav ul {
        flex-direction: column;
        width: 100%;
        padding: 0;
        margin: 0;
        list-style: none;
    }

    .nav li {
        width: 100%;
    }

    .nav a {
        display: block;
        padding: 10px;
        text-decoration: none;
        color: #ffffff;
        text-align: center;
    }

    .nav.open {
        display: flex;
    }

    .submenu {
        display: none;
    }

    .nav li:hover .submenu {
        display: block;
    }

    .submenu li {
        background-color: #f1f1f1;
    }

    .submenu a {
        padding: 8px 16px;
        text-align: left;
    }

    .tour-dates {
        padding: 1rem;
    }

    .tourdate-heading {
        font-size: 1.5rem;
    }

    .tour-dates h2 {
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    .date {
        padding: 0.5rem;
    }

    .date h3 {
        font-size: 1.5rem;
    }

    .date a {
        padding: 0.3rem 0.6rem;
        font-size: 0.8rem;
    }

    #social-links {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.2rem;
        padding-bottom: 1rem;
    }

    .sm_icons {
        width: 1.5rem;
        height: auto;
        display: inline-block;
    }



}

@media screen and (max-width:320px) {
    .menu-btn {
        display: block;
    }

    .nav {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: transparent;
    }

    .nav ul {
        flex-direction: column;
        width: 100%;
        padding: 0;
        margin: 0;
        list-style: none;
    }

    .nav li {
        width: 100%;
    }

    .nav a {
        display: block;
        padding: 10px;
        text-decoration: none;
        color: #ffffff;
        text-align: center;
    }

    .nav.open {
        display: flex;
    }

    .submenu {
        display: none;
    }

    .nav li:hover .submenu {
        display: block;
    }

    .submenu li {
        background-color: #f1f1f1;
    }

    .submenu a {
        padding: 8px 16px;
        text-align: left;
    }

    .tourdate-heading {
        font-size: 1.2rem;
    }

    .tour-dates {
        padding: 1rem;
    }

    .tour-dates h2 {
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    .date {
        padding: 0.5rem;
    }

    .date h3 {
        font-size: 1.5rem;
    }

    .date a {
        padding: 0.3rem 0.6rem;
        font-size: 0.8rem;
    }


}