.orbitron-lorays {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "Orbitron", sans-serif;
    background-image: url('../img/laura12.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    background-color: #001409;
    text-align: center;
}

.contact-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-grow: 1;
}

.logo {
    width: 50rem;
}

.menu-btn {
    color: #00f2ff;
    display: none;
    font-size: 1.7rem;
    cursor: pointer;
    padding: 10px;
    z-index: 1000;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-container1 {
    margin-top: 20rem;
    display: flex;
    gap: 20rem;
}

.call-us,
.email-us {
    font-family: "Orbitron", sans-serif !important;

    display: inline-block;
    position: relative;
    padding: 10px 20px;
    background: linear-gradient(45deg, #2e293b, #04acf4);
    color: #f3f0f0;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    text-decoration: none;
    font-family: monospace;
    font-size: 2rem;
    box-shadow: 0 0 15px rgb(60, 149, 179), 0 0 20px rgb(241, 243, 245);
}

.call-us:hover,
.email-us:hover {
    background: linear-gradient(45deg #e6e6e6, #34e1ff);

    box-shadow: 0 0 20px rgb(238, 17, 227), 0 0 30px rgba(6, 182, 212, 0.8);

}

.call-us:active,
.email-us:active {
    transform: scale(0.95);
    box-shadow: 0 0 15px rgb(59, 159, 246), 0 0 20px rgba(212, 6, 202, 0.5);
}

.call-us a,
.email-us a {
    color: inherit;
    text-decoration: none;
}

.call-us a:hover,
.email-us a:hover {
    color: #000000;
    text-decoration: none;
}

ul {
    margin-bottom: 3rem;
    font-family: "Orbitron", sans-serif;
    text-align: center;
    font-size: 1.7rem;

    li {
        display: inline-block;
        transition: all 0.4s ease-in-out;

        &:hover {
            .submenu {
                height: 3rem;
            }

            a {
                color: #00f2ff;

                &::before {
                    visibility: visible;
                    transform: scale(1, 1);
                }
            }
        }

        .submenu {
            overflow: hidden;
            position: absolute;
            left: 0;
            width: 100%;
            background-color: transparent;
            height: 0;
            line-height: 2rem;
            box-sizing: border-box;
            transition: height 0.3s ease-in-out;
            transition-delay: 0s;

            a {
                color: #fff;

                font-size: 1.3rem;

                &:hover {
                    color: #00f2ff;
                    text-decoration: none;
                }
            }
        }

        a {
            color: #ffffff;
            display: block;
            padding: 0 0.8rem 0 0.8rem;
            text-decoration: none;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                width: 100%;
                background-color: transparent;
                transition: all 0.2s ease-in-out;
                transform: scale(0, 0);
                visibility: hidden;
            }
        }
    }
}


.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    margin-top: 15rem;
}

.button {
    padding: 10px 20px;
    border: none;
    border-radius: 0.8rem;
    color: white;
    text-decoration: none;
    font-size: 2rem;
    transition: background-color 0.3s ease;
}

.call-button {
    background-color: #68d7f5;
}

.call-button:hover {
    background-color: #5a4bb2;
}

.email-button {
    background-color: #68d7f5;
}

.email-button:hover {
    background-color: #5a4bb2;
}

#social-links {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;

}

.sm_icons {
    width: 3rem;
    height: auto;
    margin: 1rem;
}

@media screen and (max-width: 480px) {

    .logo {
        margin-top: 0.5rem;
        width: 14.5rem;
        transform: scale(1.5);
    }

    .contact-us {
        font-size: 2.5rem;
    }

    .call-us,
    .email-us {
        font-size: 1.7rem;
        padding: 6px 10px;
        margin-left: 0rem;
    }

    .button-container1 {
        display: flex;
        margin-bottom: 0.5rem;
        gap: 1.5rem;

    }

    .sm_icons {
        width: 2rem;
        height: auto;
        margin: 0.3rem;
    }

    #social-links {
        display: flex;
        justify-content: center;
        gap: 0.4rem;
    }

    .button-container1 {
        gap: 4rem;
    }


    .menu-btn {
        font-size: 2rem;
        margin-bottom: 1.5rem;
        display: block;
    }

    .nav {
        font-size: .7rem;
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: transparent;
        position: absolute;
        bottom: 0;
        transform: translateY(100%);
        transition: transform 0.3s ease-out;
    }

    .nav ul {
        font-size: 1.5rem;
        flex-direction: column;
        width: 100%;
        padding: 0;
        margin: 0;
        list-style: none;
    }

    .nav li {
        width: 100%;
    }

    .nav a {
        display: block;
        padding: 10px;
        text-decoration: none;
        color: #ffffff;
        text-align: center;
    }

    .nav.open {
        display: flex;
        color: white;
        transform: translateY(-50%);
        transition: transform 0.3s ease-in-out;
    }

    .submenu {
        display: none;
    }

    .nav li:hover .submenu {
        display: none;
    }

    .submenu li {
        background-color: transparent;
    }

    .submenu a {
        padding: 8px 16px;
        text-align: left;
        color: rgb(67, 216, 236);
    }

}